[Desktop Entry]
Type=Application
Name=Nextcloud Electron
Icon=Nextcloud
Exec=bash -c 'env PATH=/home/hans/Install/node-v10.14.2-linux-x64/bin/:$PATH npm start --prefix /home/hans/Install/nextcloud/'
